
BetaMaxSample/.classpath

BetaMaxSample/.project

BetaMaxSample/.settings/org.eclipse.core.resources.prefs

BetaMaxSample/.settings/org.eclipse.jdt.core.prefs

BetaMaxSample/.settings/org.eclipse.m2e.core.prefs

.DS_Store

BetaMaxSample/target/test-classes/BetaMax/tapes/my_test_vcr_tape.yaml

BetaMaxSample/target/test-classes/BetaMax/BetaMaxSample/VCRTest.class

BetaMaxSample/target/classes/META-INF/maven/BetaMax/BetaMaxSample/pom.xml

BetaMaxSample/target/classes/META-INF/maven/BetaMax/BetaMaxSample/pom.properties

BetaMaxSample/target/classes/BetaMax/BetaMaxSample/GetPageContent.class

BetaMaxSample/target/classes/META-INF/MANIFEST.MF
